# Build folders
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo

# Logs
*.log

# Build outputs
*.dll
*.exe
*.pdb
/WallpaperApi/WallpaperApi.csproj
/WallpaperApi.Data/obj/Debug/net8.0/refint/WallpaperApi.Data.dll
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.AssemblyInfoInputs.cache
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.assets.cache
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.csproj.AssemblyReference.cache
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.csproj.CoreCompileInputs.cache
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.csproj.FileListAbsolute.txt
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.dll
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.GeneratedMSBuildEditorConfig.editorconfig
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.genruntimeconfig.cache
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.GlobalUsings.g.cs
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.pdb
/WallpaperApi.Data/obj/Debug/net8.0/WallpaperApi.Data.sourcelink.json
x